@import './reset';
@import './mixins';
@import './fonts';

body {
    font-family: 'Rubik';
    font-weight: 400;
}

.container {
    padding: 0 10px;

    @include tablet {
        margin: 0 auto;
    }
    @include desktop {
        max-width: 1300px;
        width: 100%;
    }
}
