@font-face {
	font-family: 'Rubik'; 
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/Rubik-Light.woff2); 
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Rubik-Regular.woff2); 
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/Rubik-Medium.woff2); 
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Rubik-Bold.woff2); 
}