.best-deals {

    padding-bottom: 34px;
    background: linear-gradient(280.77deg, #FFC83E 10.43%, #FF9F47 82.11%);

    &__block {
        display: flex;
    }

    &__block-img {
        display: none;
        z-index: 1;
        @include tablet {
            display: block;
            position: relative;
        }
    }

    &__img {
        position: absolute;
        top: -7.5%;
        @include desktop {
            right: 5%;
        }
    }

    &__card {
        width: 360px;
        height: 582px;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
        @include tablet {
            max-width: 428px;
            margin-left: auto;
        }
        @include desktop {
            margin-left: -77px;
        }
    }
}