.fire {

    background: linear-gradient(280.77deg, #FFC83E 10.43%, #FF9F47 82.11%);
    padding: 32px 0 36px;

    &__block {

    }

    &__header {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet {
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 33px;
        line-height: 26px;
        color: #FFFFFF;
    }

    &__block-room {
        margin: 24px 0 23px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        @include desktop {
            order: 2;
        }
    }

    &__sub-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;

    }

    &__block-gmail {
        padding-bottom: 32px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        @include tablet {
            padding-bottom: 0px;
        }
        @include desktop {
            order: 1;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #FFFFFF;
    }

    &__info {
        padding: 29px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: space-between;
        width: 100%;
        order: 1;
        @include tablet {
            justify-content: space-evenly;
        }
        @include desktop {
            display: flex;
            width: initial;
            gap: 25px;
        }
    }

    &__sub-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        transition: 0.4s ease;
        &:hover {
            cursor: pointer;
            color: #7e6b6b;
        }
    }

    &__block-text {
        margin-top: 32px;
    }

    &__word {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #FFFFFF;

    }

    &__sub-block-text {
        margin-top: 23px;
    }

    &__sub-word {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    }
}