.header {
    
    padding: 14px 0 18px;
    background: linear-gradient(280.77deg, #FFC83E 10.43%, #FF9F47 82.11%);
    @include desktop {
        padding-top: 45px;
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        display: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        transition: 0.4s ease-in;
        &:hover {
            cursor: pointer;
            color: #ccc5c5;
        }
        @include tablet {
            display: block;
        }
    }

    &__block-text {
        display: flex;
        gap: 20px;
    }   

    &__img {
        display: flex;
        @include tablet {
            display: none;
        }
    }

    &__button {
        padding: 12px 21px;
        background: #FF7B00;
        border-radius: 8px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
        &:hover {
            cursor: pointer;
            background-color: #c26406;
        }
    }
}