.hero {

    padding-bottom: 37px;

    &__banner {
        margin-bottom: 24px;
        text-align: center;
        @include desktop {
            text-align: start;
        }
    }

    &__block {
        @include desktop {
            margin-top: 84px;
        }
    }

    &__btn {
        padding: 15px 27px 13px 75px;
        background: rgba(255, 255, 255, 0.95);
        border-radius: 12px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #3C4260;
        @include tablet {
            font-size: 22px;
            line-height: 26px;
            text-transform: uppercase;
        }
    }

    &__text {
        text-align: center;
        @include desktop {
            text-align: start;
            max-width: 457px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 111.5%;
        text-transform: uppercase;
        color: #FFFFFF;
        @include tablet {
            font-size: 40px;
        }
        @include desktop {
            max-width: 460px;
        }
    }

    &__sub-title {
        margin: 18px 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 133.5%;
        color: #FFFFFF;
        @include tablet {
            font-size: 27px;
        }
        @include desktop {
            max-width: 483px;
            margin-bottom: 110px;
        }
    }

    &__title-sub {
        font-weight: 300;
        font-size: 14px;
        line-height: 145.5%;
        color: #FFFFFF;
        @include desktop {
            max-width: 300px;
        }
    }
}